.header {
  height: 73px;
  //width: 100%;
  //padding-left: 30px;
  //padding-right: 30px;
  display: flex;
  flex-direction: column;
  .menu {
    width: 98%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $yellow;
    .logo {
      color: $yellow;
      font-family: $font;
      font-size: 35px;
      font-weight: bolder;
    }
    .menu-div {
      .menu-ul {
        display: flex;
        justify-content: space-between;
        li {
          margin-left: 34px;
          font-size: 14px;
          font-family: $font;
          line-height: 64px;
          cursor: pointer;
          &:hover {
            color: $dark-grey;
            font-weight: bolder;
            font-size: 16px;
          }
        }
        .li-selected {
          color: $dark-grey;
          font-weight: bolder;
          font-size: 16px;
        }
      }
    }
  }
  .header-line {
    margin: auto;
    width: 98%;
    height: 7px;
    border-top: solid 1px $dark-grey;
    border-bottom: solid 2px $dark-grey;
  }
}
