.login {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  .form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    padding-bottom: 15px;
    //height: 400px;
    border: solid 1px $dark-grey;
    border-radius: 15px;
   //padding: 20px;
    .form-subtitle {
        margin-top: 50px;
      font-size: 14px;
      font-family: $font;
      color: $dark-grey;
    }
    .input-form{
        margin-top: 20px;
        width: 300px;
        height: 30px;
        border: solid 1px $dark-grey;
        border-radius: 30px;
        padding: 10px;
        color: $dark-grey;
        font-size: 15px;
    }
    .button-form{
        width: 150px;
        height: 45px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $dark-grey;
        color: $yellow;
        border: solid 1px $dark-grey;
        border-radius: 30px;
        font-size: 14px;
      font-family: $font;
      cursor: pointer;
      font-weight: bold;
      &:hover{
        background-color: $yellow;
        border: solid 1px $yellow;
        color: $dark-grey;
      }
    }
  }
}
